/*.typist-span-1 {
    position: relative;
    top: -300px;
    left: 170px;
}
.typist-span-2 {
    position: relative;
    top: -300px;
    left: 170px;
}*/
.typist-container {
    position: relative;
    top: -500px;
    left: 170px;
}